/** {
	border: solid 1px red;
}*/

.navbar {
	border-color: white;
	margin-bottom: -1px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:visited {
	color: #aba5a5;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

#header-navbar-collapse, .navbar-header {
	background-color: #1a2936;
}

.navbar-brand img {
	height: 38px;
	margin-top: -10px;
	margin-left: 5px;
}

#header-title {
	color: white;
	font-size: 17px;
	padding-left: 0px;
}

body {
	font-family: Georgia;
	font-size: 16px;
}

.tiny-script {
	font-size: .5em;
}

button {
	font-family: Helvetica;
}

.moreButtons {
	border: none;
    color: #aba5a5;
    background: none;
    font-size: 27px;
}


.moreButtons:focus,
.moreButtons:active, 
.sidebar:active, 
.sidebar:focus, 
.sidebar-nub:active, 
.sidebar-nub:focus, 
input:active,
input:focus {
   outline: none !important;
}

#publicWorksHeader, #schoolsHeader, #churchesHeader {
	margin-bottom: 20px;
}

.thumbnailHighlight {
	background-color: #b5c9dc;
  -webkit-transform: rotateY(360deg); /* Safari */
  transform: rotateY(360deg);
  transition: 0.6s;
	transform-style: preserve-3d;

}

.lower-border {
	border-bottom: #aba5a5 1px solid;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 40px;
}

p {
  font-size: 1.3em;
  line-height: 1.6em;
}

#contentTextAbout {
	font-size: 1.1em;
}

.add-padding-left {
	padding-left: 15px;
}

.kill-padding-left {
	margin-left: -15px;
}

.kill-padding-right {
	padding-right: 0px;
	border-right: 0px;
}

.vertical-spacer-5 {
	height: 5px;
}

.vertical-spacer-7 {
	height: 7px;
}

.vertical-spacer-21 {
	height: 21px;
}

.vertical-spacer-50 {
	height: 50px;
}

.quizButtons {
	color: white;
	background-color: #375773;
	border-style: none;
	width: 80%;
	font-size: 1.2em;
	margin: 15px 0 15px 0;
	padding: 7px 0 7px 0;
}

#quizArea {
	margin-right: 40px;
	margin-left: -20px;
}


/*
#quizNo {
	right: 9em;
}

#quizBack {
	left: 0px;
	margin-left: 15px;
}*/

.bordered {
	/*border-radius: 15px;*/
	border: solid #aba5a5 4px;
}

#residentialSubheading{
	/*background-color: #ccc;*/
}

#FAQform {
	padding-left: 50px;
}

.FAQquestions {
	background-color: #d9d9d9;
	border-radius: 3px;
	font-weight: bold;
	padding-left: 18px;
}

.FAQquestions:hover {
	background-color: #f2f2f2;

}

#attachFAQquestHere {
	padding-right: 100px;
}

.FAQbuttons {
	margin: 10px 0 0 0;
}

.jobIcon:hover {
	cursor: pointer;
	opacity: .7;
}

.jobListings {
	padding-left: 50px;
}

#contactMessage {
	height: 100px;
}

#contactAddress {
	padding-top: 90%;
}

.contactForm {
	margin-left: 100px;
}

.contactForm input {
	margin-top: 18px;
	height: 40px;
	width: 63%;
}

.email {

}

#contactSubHeader {
	background-color: #aba5a5;
}

#jumbotron-text-box h3 {
	line-height: 1.5em;
	font-size: 180%;
	color: #aba5a5;
	margin-left: 5%;
	margin-top: 14%;
}

#jumbotron-text-box {
	background-color: #3b3939;
	border-right:solid 15px white;
}

#cycler {
	position: relative;
	width: 100%;
	height: auto;
	background-image: url("img/BobDesk_sepia.jpg");
}

.rotating-item, #img-placeholder {
	display: none;
	position: absolute;
}

.sidebar, .sidebar-nub {
	color: white;
	background-color: #375773;
	border-style: none;
	border-left: solid 5px white;
	border-right: solid 5px white;
	margin: 0.3em -15px 0.3em 0;
	padding: 5px 0 5px 0;
	width: 79%;
	font-size: 1.4em;
}

.sidebar-nub {
	width: 19%;
}

.thumb-description {
 	font-size: 12px;
 }

.mapThumbnails {
 	height: 15em;
 	border-right: solid white 15px;
}

.bordered {
	border: solid lightgray 1px;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.preferList {
	margin: 15px;
}

.preferList h4 {
	text-align: center;
	font-family: arial;
	color: lightgray;
}

.preferList a {
	font-size: 1.3em;
	text-decoration: none;
	line-height: 41px;
	color: black;
	font-family: arial;
}

#listOfPDFs { 	
 	list-style: none;
 	padding: 20px;
}

.hide {
	display: none;
}

footer {
	display: flex;
  text-align: center;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer-icons {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	-webkit-filter: grayscale(85%);
	filter: grayscale(85%);
}

.footer-icons:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.inline {
	display: inline;
}

@media (max-width: 1000px) {
	body {
		font-size: 12px;
	}
	#jumbotron-text-box h3 {
		font-size: 200%
	}
}

@media (min-width: 91159px) {
	body {
		font-size: 16px
	}
}