body {
	font-family: 'Brawler', serif;
}

h3 {
	color: white;
}

#header-navbar-collapse, .navbar-header {
	background-color: #1a2936;
}

.navbar-brand img {
	height: 50px;
	margin-top: -15px;
}

#cycler {
	position: relative;
	width: 100%;
	height: auto;
}

.rotating-item {
	display: none;
	position: absolute;
}

#jumbotron-text-box {
	background-color: #3b3939;
	border-right:solid 15px white;
}
